.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
}

.example-card {
    width: 400px;
}

.example-header-image {
    background-size: cover;
}