p {
  font-weight: bold;
  text-align: center;
  text-indent: 100px;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;

}

#license-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  form {
    max-width: 80%;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}